#!/bin/bash
#
# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

export DEBIAN_FRONTEND=noninteractive

apt-get -qq update
apt-get -qqy install \
  lsb \
  fuse \
  gvfs-fuse \
  libfuse2 \
  libfuse-dev

modprobe fuse

# install some debugging utils
apt-get -qqy install \
  dnsutils \
  netcat-openbsd \
  net-tools \
  sysstat \
  iperf3

# install docker
# the ubuntu maintained version is good enough
apt-get -qqy install \
  docker.io \
  apache2-utils \
  docker-compose
echo '*;*;*;Al0000-2400;docker' >> /etc/security/group.conf

siege_target_ip() {
  local target_ip=$1

  # set up a siege engine
  mkdir -p /opt/siege
  cat <<- 'EOS' > /opt/siege/docker-compose.yml
  version: "3"
  services:
    siege:
      image: markmims/siege-engine
      environment:
        SIEGE_TARGET: http://${target_ip}/
        SIEGE_THREADS: 10
EOS

  docker-compose -f /opt/siege/docker-compose.yml pull
  docker-compose -f /opt/siege/docker-compose.yml up -d
}
[ -z "${target_ip}" ] || siege_target_ip ${target_ip}
